form{
width:22%;
height: 50vh;
border: 0px solid blueviolet;
text-align: center;
margin: auto;
background-color: rgba(17, 17, 17, 0.479);
padding-top: 1rem;
margin-top: 5rem;
}
h1{
    font-size: 35px;
}
h1:hover{
    color:blueviolet
}
label{
    font-size: 20px;
}
input{
    margin-bottom: 15px;
    width: 50%;
    height:3vh;
    border-color: rgba(167, 121, 211, 0.932);
    border-radius: 5px;
}
.btn{
    width: 33%;
    height: 5vh;
    background-color: green;
    color: white;
    border-color: black;
    margin-top: 1rem;
}
.btn:hover{
    background-color: blueviolet;
}